{
    "version": "1.0.0",
    "logLevel": "info",
    "production": false,
    "databaseURL": "postgres://username:password@localhost/kikitoru?sslmode=disable",
    "maxParallelism": 16,
    "expiresIn": 2592000000000000,
    "scannerMaxRecursionDepth": 2,
    "pageSize": 12,
    "tagLanguage": "zh-cn",
    "retry": 5,
    "dlsiteTimeout": 10000000000,
    "retryDelay": 2000000000,
    "httpProxyHost": "",
    "httpProxyPort": 0,
    "listenPort": 8080,
    "blockRemoteConnection": false,
    "httpsEnabled": false,
    "httpsPrivateKey": "kikitoru.key",
    "httpsCert": "kikitoru.crt",
    "httpsPort": 8443,
    "skipCleanup": false,
    "enableGzip": true,
    "rewindSeekTime": 5000000000,
    "forwardSeekTime": 30000000000,
    "offloadMedia": false,
    "offloadStreamPath": "/media/stream/",
    "offloadDownloadPath": "/media/download/"
}